#shopcar{
    height: 100%;
    display:flex;
    flex-direction:column;
    .shopcar_top{
        height: 1.333333rem;
        display:flex;
        align-items:center;
        .toback{
            font-size:0.72rem;
            height: 0.64rem;
            width: 30%;
            margin-left: 2%;
        }
        .title{
            font-size:0.426667rem;
            height: 0.64rem;
            width: 40%;
            text-align:center;
        }
        .profit{
            font-size:0.346667rem;
            height: 0.64rem;
            line-height: 0.64rem;
            width: 15%;
            text-align:center;
        }
        .edit{
            font-size:0.346667rem;
            height: 0.64rem;
            line-height: 0.64rem;
            width: 15%;
            text-align:center;
        }
    }
    .logintip{
        height: 1.2rem;
        background-color: rgba(35,35,33,.8);
        padding:0 1.2rem 0.4rem;
        color:#fff;
        display:flex;
        line-height: 1.2rem;
        font-size:0.346667rem;
        align-items:center;
        .txt{
            height: 0.64rem;
        }
        .tologin{
            margin-left:0.266667rem;
            height: 0.64rem;
            padding:0 0.32rem 0 0.133333rem;
        }
    }
    .shopcar_main{
        flex:1;
        overflow-x:hidden;
        background-color: #f4f4f1;
        .car_list{
            .list_item{
                margin:0.133333rem 0.133333rem 0 0.133333rem;
                background-color: #FFF;
                display:flex;
                align-items:center;
                padding:0.4rem;
                .list_cont{
                    width: 100%;
                    display:flex;
                    align-items:center;
                    img{
                        width: 2.666667rem;
                        height: 2.666667rem;
                    }
                    .list_label{
                        .list_input{
                            display:none;
                        }
                        .listInput{
                            background-color:#fff;
                            border:0.053333rem solid rgba(0,0,0,0.2);
                            border-radius:100%;
                            display:inline-block;
                            height:0.4rem;
                            margin-right:0.133333rem;
                            margin-top:-0.013333rem;
                            vertical-align:middle;
                            width:0.4rem;
                            line-height:1;
                        }
                        .list_input:checked + .listInput:after{
                            background-color:#3e3e3e;
                            border-radius:100%;content:"";
                            display:inline-block;
                            height:0.293333rem;
                            width:0.293333rem;
                        }
                    }
                    img{
                        margin-right: 0.533333rem;
                    }
                    .cont{
                        position:relative;
                        width: 57%;
                        h3{
                            font-size: 0.32rem;
                            overflow: hidden;

                        }
                        .params{
                            line-height: 0.32rem;
                            color: #999;
                            overflow: hidden;
                            margin-top: 0.4rem;
                        }
                        .price{
                            margin-top: 0.6rem;
                            span{
                                font-size: 0.42667rem;
                            }
                        }
                        .qty{
                            position:absolute;
                            right: 0;
                            bottom:0;
                        }
                        .edit-qty{
                            margin-bottom: -0.066667rem;
                            .reduce{
                                display:inline-block;
                                width: 0.48rem;
                                height: 0.266667rem;
                                background: url("//static.360buyimg.com/tp-statics/2018-5-25/m/img/button_reduce_normal@2x.png") 0 no-repeat;
                                -webkit-background-size: .26667rem .26667rem;
                                background-size: .26667rem .26667rem;
                            }
                            .add{
                                display:inline-block;
                                width: 0.48rem;
                                height: 0.266667rem;
                                background: url("//static.360buyimg.com/tp-statics/2018-5-25/m/img/button_add_normal@2x.png") right no-repeat;
                                -webkit-background-size: .26667rem .26667rem;
                                background-size: .26667rem .26667rem;
                            }
                            input{
                                display: inline-block;
                                border:0.013333rem solid #000;
                                width: 0.666667rem;
                                height: 0.666667rem;
                                line-height: 1;
                                text-align: center;
                                font-size: .32rem;
                                color: #333;
                            }
                        }
                    }
                }
            }
        }
        .img_box{
            img{width: 100%;}
        }
        .empty{
            padding:2.933333rem 0 2.133333rem 0;
            text-align:center;
            .null{
                width: 1.92rem;
                height: 1.52rem;
                margin:0 auto;
                background: url("//static.360buyimg.com/tp-statics/2018-5-30/m/img/cart-null.png") no-repeat 50%;
            }
            .txt_tip{
                margin-top: 0.533333rem;
            }
        }
    }
    .shopcar_footer{
        height: 1.333333rem;
        display:flex;
        background-color: #232321;
        justify-content:space-between;
        align-items:center;
        .list_label{
            .list_input{
                display:none;  
            }
            .listInput{
                background-color:#fff;
                border:0.053333rem solid rgba(0,0,0,0.4);
                border-radius:100%;
                display:inline-block;
                height:0.4rem;
                margin-right:0.133333rem;
                margin-top:-0.013333rem;
                vertical-align:middle;
                width:0.4rem;
                line-height:1;
                margin-left: 0.4rem;
                z-index:10;
            }
            .list_input:checked + .listInput:after{
                background-color:#c0a369;
                border-radius:100%;content:"";
                display:inline-block;
                height:0.293333rem;
                width:0.293333rem;
            }
            .all_check{
                color:#fff;
            }    
        }
        .total{
            color:#fff;
            .pay{
                span{
                    font-size:0.426667rem;
                }
            }
        }
        .toOrder{
            width:30%;
            color:#000;
            text-align:center;
            line-height: 1.333333rem;
            font-size:0.426667rem;
            border:0 none;
            padding:0;
        }
        .check{
            background-color: #c0a369;
        }
        .nocheck{
            background-color: #999;
        }
    }
    .overlay{
        position: fixed;
        top: 0;
        z-index:1000;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.5);
        .del_tip{
            position: absolute;
            top: 40%;
            bottom: 0;
            width: 6.666667rem;
            height: 3.333333rem;
            left: 50%;
            margin-left: -3.333333rem;
            text-align: center;
            border-radius: .21333rem;
            background-color: #fff;
            .tip{
                height: 2.0rem;
                line-height: 2.0rem;
                font-size:0.373333rem;
            }
            .select{
                border-top:0.013333rem solid #ccc;
                width: 100%;
                height: 1.333333rem;
                display:flex;
                align-items:center;
                .cancel{
                    border-right:0.013333rem solid #ccc;
                }
                span{
                    display: block;
                    flex:1;
                    font-size:0.373333rem;
                }
            }
        }
    }
}