#goodlist{
    height: 100%;
    overflow:hidden;
    display:flex;
    flex-direction:column;
    .goodlist_header{
        height: 1.333333rem;
        display:flex;
        border-bottom: 1px solid #ddd;
        .btn{
            width: 1.5rem;
            text-align:center;
            img{
                display:inline-block;
                vertical-align:middle;
                width: 0.6rem;
                height: 0.586667rem;
            }
        }
        .btn::after{
            height: 100%;
            display:inline-block;
            content:"";
            vertical-align:middle;
        }
        .btn_back{
            img{

                width: 0.32rem;
                height: 0.64rem;
            }
        }
        .title{
            flex:1;
            text-align:center;
            input{
                display:inline-block;
                width: 100%;
                height: 60%;
                border:0 none;
                font-size:0.293333rem;
                background-color:#f4f1f1;
                color:#000;
                padding-left:10%;
            }
        }
        .title::after{
            height: 100%;
            display:inline-block;
            content:"";
            vertical-align:middle;
        }
    }
    .goodlist_main{
        flex:1;
        overflow-x:hidden;
        .top{
            height: 1.066667rem;
            display:flex;
            border-bottom:0.013333rem solid #ccc;
            .btn{
                width: 15%;
                text-align:center;
            }
            .btn::after{
                height: 100%;
                display:inline-block;
                content:"";
                vertical-align:middle;
            }
            .select button{
                width: 70%;
                height: 60%;
                border:0.023333rem solid #000;
                background-color:#fff;
                color: #232321;
                font-size:0.32rem;
            }
            .title{
                flex:1;
                text-align:center;
                color:#666;
                font-size:0.346667rem;
            }
            .title::after{
                height: 100%;
                display:inline-block;
                content:"";
                vertical-align:middle;
            }
        }
        .content{
            ul{
                display:flex;
                flex-wrap:wrap;
                li{
                    height: 8.666667rem;
                    padding:0.4rem 0.426667rem;
                    width: 50%;
                    img{
                        width: 100%;
                        display:block;
                        height: 5.28rem;
                    }
                    h3{
                        height: .66667rem;
                        color: #232321;
                        font-size: .34667rem;
                        line-height: .66667rem;
                        font-weight:normal;
                    }
                    h4{
                        height: .8rem;
                        overflow: hidden;
                        color: #232321;
                        line-height: .4rem;
                        font-weight:normal;
                    }
                    p{
                        height: 0.666667rem;
                        padding-top:0.133333rem;
                        span{
                            font-weight:bold;
                            font-size:0.4rem;
                        }
                    }
                }
            }
        }
        .loading h1{
            text-align:center;
            font-weight:normal;
            font-size:0.4rem;
            padding:0.666667rem;
            border-top:1px solid #ccc;
        }
    }
    .selectOption{
        position:fixed;
        right:0;top:0;bottom:0;
        width: 90%;
        background-color:#fff;
        z-index:200;
        display:flex;
        flex-direction:column;
        .title{
            height: 1.066667rem;
            border-bottom:0.013333rem solid #ccc;
            display:flex;
            .btn{
                width: 1.333333rem;
                text-align:center;
                img{
                    display:inline-block;
                    vertical-align:middle;
                    width: 0.64rem;
                    height: 0.64rem;
                }
            }
            .cont{
                flex:1;
                text-align:center;
                vertical-align:middle;
                font-size:0.4rem;
            }
            .cont::after,.btn::after{
                content:"";
                display:inline-block;
                height: 100%;
                vertical-align:middle;
            }
        }
        .order{
            flex:1;
            h1{
                font-size:0.426667rem;
                padding:2% 5%;
            }
            .list1{
                width: 100%;
                height: 3.0rem;
                display:flex;
                flex-wrap:wrap;
                align-content:space-around;
                border-bottom:0.013333rem solid #ccc;
                li{
                    width: 50%;
                    height: 1.333333rem;
                    line-height:1.333333rem;
                    vertical-align:middle;
                    font-size:0.346667rem;
                    i{
                        display:inline-block;
                        border:0.013333rem solid #000;
                        width: 0.453333rem;
                        height: 0.453333rem;
                        vertical-align:middle;
                        border-radius:50%;
                        margin: 0 5%;
                    }
                    .active{background-color:#000;}
                }
            }
            .group{
                height: 2.0rem;
                border-bottom:0.013333rem solid #ccc;
                text-align:center;
                input{
                    display:inline-block;
                    width: 3.53333rem;
                    background-color: #f8f8f8;
                    border: 1px solid #ddd;
                    text-align: center;
                    font-size: .32rem;
                    outline: none;
                    height: 0.666667rem;
                    margin:0 0.266667rem;
                }
            }
            .group::after{
                content:"";
                display:inline-block;
                height: 100%;
                vertical-align:middle;
            }
        }
        .bottom{
            height: 1.333333rem;
            display:flex;
            button{
                flex:1;
                border:0 none;
                color: #fff;
                font-size: .42667rem;
                background-color: #232321;
            }
            button:focus{
                outline:none;
            }
        }
    }
}


