#showlike{
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
 
    width: 100%;
    a{
        text-decoration: none;
    }
    .showlike_top{
        display: flex;
        justify-content: space-between;
        height: 1.4667rem;
        background-color: white;
        padding: 0 0.2rem;
        font-size: 0.5067rem;
        line-height: 1.4667rem;
        width: 100%;
        border-bottom: 0.0133rem solid #D6D6D6;
        a{
            display: inline-block;
            text-decoration: none;
            color: #646464;
            width: 0.6667rem;
            i{
                font-size: 0.5333rem;
            }
        }
    }
    .showlike_mian{
        flex: 1;
        overflow-x: hidden;
        
        ul{
            display: flex;
            padding: 0 0.5333rem;
            flex-direction: column;
            li{
                height: 3.8667rem;
                display: flex;
                justify-content: space-between;
                padding: 0.5333rem 0;
               
                border-bottom: 0.0133rem solid #D5D4D4;
                img{
                    width: 2.7333rem;
                    height: 2.7333rem;
                    border: 0.0267rem solid #D5D4D4;
                   
                }
                .show_box{
                    width: 5.7067rem;
                    height: 2.7333rem;
                   
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    h5{
                        line-height: 0.4rem;
                        margin: 0;
                        font-size: 0.3067rem;
                    }
                    h3{
                        line-height: 0.6667rem;
                        display: flex;
                        justify-content: space-between;
                        a{
                            display:inline-block;
                            width: 2.4rem;
                            height: 0.6133rem;
                            text-align: center;
                            line-height: 0.6133rem;
                            font-size: 0.2933rem;
                            font-family: "宋体";
                            color: #0E0E0B;
                            border: 0.0267rem solid #545454;
                        }
                        span{
                            font-family: serif;
                        }
                    }
                }
            }
        }
                
    }
}