#home{
    height: 100%;
    display:flex;
    flex-direction:column;
    .home_top{
        height:1.173333rem;
        background: url("http://static.360buyimg.com/tp-statics/images/homeTop/logo.png") no-repeat center;
        position:relative;
        span.sousuo{
            position:absolute;
            font-size:0.6rem;
            right:1.533333rem;
            top:0.266667rem;
        }
        span.gouwudai{
            position:absolute;
            font-size:0.666667rem;
            right:0.533333rem;
            top:0.266667rem;
        }
    }
    .home_main{
        flex:1;
        overflow-x:hidden;
        .home_search{
            width: 8.933333rem;
            height: 0.8rem;
            margin:0.2rem 0.533333rem;
            background-color: #f3f3f4;
            text-align:center;
            line-height: 0.8rem;
            span{
                font-size:0.426667rem;
            }
            .text{
                font-size:0.333333rem;
                color:#999;
            }
        }
        .home_banner{
            .swiper-container{
                .swiper-wrapper{
                    .swiper-slide{
                        img{
                            width: 100%;height: 100%;
                        }
                    }
                }
                .swiper-pagination{
                    .swiper-pagination-bullet{
                        width: 0.16rem;height: 0.16rem;
                        background-color: #FFF;
                        opacity:.5;
                    }
                    .swiper-pagination-bullet-active{
                        width: 0.6rem;height: 0.16rem;
                        opacity:1;border-radius:0.133333rem;
                    }
                }
            }
        }
        .new{
            .img{
                img{
                    width: 100%;height: 100%;
                }
            }
            .swiper-container2{
                .swiper-pagination2{
                    display:flex;
                    height: 1.066667rem;
                    background-color: #FFF;
                    .swiper-pagination-bullet{
                        flex:1;height: 1.066667rem;line-height: 1.066667rem;
                        margin:0;
                        border:0 none;
                        background-color: #FFF;
                        text-align:center;
                        color:#999;
                        opacity:1;
                        border-radius:0;
                    }
                    .swiper-pagination-bullet-active{
                        color: rgb(192, 163, 105);
                        border-bottom:0.066667rem solid rgb(192, 163, 105);
                    }
                }
                .swiper-pagination2_fix{
                    position:fixed;
                    top:1.173333rem;
                    z-index:100;
                }
                .swiper-wrapper{
                    .swiper-slide{
                        .img{
                            position:relative;
                            i{
                                content: '';
                                position: absolute;
                                left: 0;
                                right: 0;
                                bottom: -.02666667rem;
                                z-index: 15;
                                width: 100%;
                                height: .32rem;
                                background: url("https://static.360buyimg.com/tp-statics/images/newBrandArrow.png") no-repeat center/100% 100%;
                            }
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }  
                        .goods{
                            margin-top: 0.666667rem;
                            display:flex;
                            width: 100%;
                            height: 4.066667rem;
                            .item{
                                flex:1;width: 33.3%;
                                display:flex;
                                flex-direction:column;
                                text-align:center;
                                img{
                                    width: 50%;
                                    height: 2.0rem;
                                    margin:0 auto;
                                }
                                span{
                                    overflow: hidden;
                                    -webkit-line-clamp: 1;
                                    word-wrap: break-word;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                    margin:0 0.2rem;   
                                    font-size:0.346667rem;
                                }
                                .brand{
                                    padding-top: 0.266667rem;
                                }
                                .title{
                                    padding-top: 0.133333rem;
                                }
                                .price{
                                    padding-top: 0.266667rem;
                                    span{
                                        font-size:0.426667rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .may{
            img{
                width: 100%;
            }
        }
        .brand{
            img{
                width: 100%;
            }
        }
        .t_tv{
            img{
                width: 100%;
            }
        }
        .t_course{
            .img{
                img{
                    width: 100%;
                }
            }
            .t_c1{
                img{
                    width: 100%;
                }
                .t_txt{
                    padding:0.4rem 0.533333rem 0.666667rem 0.533333rem;
                    background-color: #f4f4f4;
                    position:relative;
                    .title{
                        line-height: 0.506667rem;
                        font-size:0.373333rem;
                        color:#000;
                    }
                    span{
                        display: block;
                        margin-top: 0.32rem;
                        color:#666;
                        font-size:0.32rem;
                        line-height: 0.533333rem;
                        overflow:hidden;
                        word-wrap:break-word;
                    }
                    .main_title{
                        position:absolute;
                        right:0.48rem;
                        color:#c0a369;
                    }
                }
            }
            .t_c2{
                margin-top: 0.16rem;
                display:flex;
                background-color: #f4f4f4;
                position:relative;
                .content{
                    padding:0.4rem 0.533333rem 0  0.533333rem;
                    font-size:0.373333rem;
                    color:#000;
                }
                .main_title{
                    position:absolute;
                    right:0.48rem;
                    color:#c0a369;
                    bottom:0.32rem;
                }
            }
        }
        .t_like{
            .img{
                img{width: 100%;}
            }
            .t_like1{
                img{width: 100%;}
            }
            .t_like2{
                margin-top: 0.16rem;
                display:flex;
                background-color: #f4f4f4;
                position:relative;
                .content{
                    padding:0.4rem 0.533333rem 0  0.533333rem;
                    font-size:0.373333rem;
                    color:#000;
                }
                .main_title{
                    position:absolute;
                    right:0.48rem;
                    color:#c0a369;
                    bottom:0.32rem;
                }
            }
        }
        .t_recommand{
            .img{
                img{width: 100%;}
            }
            .re_goods{
                padding:0.133333rem 0.4rem 0 0.4rem;
                ul{
                    width: 100%;
                    display:flex;
                    flex-wrap:wrap;
                    justify-content:space-between;
                    li{
                        width: 47%;
                        padding:0.266667rem 0.4rem 0.533333rem 0.4rem;
                        display:flex;
                        flex-direction:column;
                        border:0.026667rem solid #ccc;
                        margin:0.133333rem;
                        text-align:center;
                        img{
                            width: 3.52rem;
                            height: 3.52rem;
                        }
                        .brand{
                            padding-top: 0.4rem;
                            color:#232321;
                            overflow:hidden;
                            font-size:0.32rem;
                            height: 0.8rem;
                        }
                        .title{
                            padding-top: 0.16rem;
                            height: 0.6rem;
                            -webkit-line-clamp: 1;
                            word-wrap: break-word;
                            overflow:hidden;
                        }
                        .price{
                            padding-top: 0.133333rem;
                            span{
                                font-size:0.426667rem;
                            }
                        }
                    }
                }
            }
        }
    }
}