#orders{
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #F4F1F1;
    width: 100%;
    a{
        text-decoration: none;
    }
    .orders_top{
        display: flex;
        justify-content: space-between;
        height: 1.4667rem;
        background-color: white;
        padding: 0 0.2rem;
        font-size: 0.5067rem;
        line-height: 1.4667rem;
        width: 100%;
        border-bottom: 0.0133rem solid #D6D6D6;
        a{
            display: inline-block;
            text-decoration: none;
            color: #646464;
            width: 0.6667rem;
            i{
                font-size: 0.5333rem;
            }
        }
        span{
            font-size: 0.5333rem;
        }
    }
    .orders_mian{
        flex: 1;
        height: 100%;
      
        width: 100%;
        padding: 0 0.2667rem;
        text-align: center;
        overflow-x: hidden;
        h2{
            line-height: 1.4667rem;
            align-self: center;
            font-family: "宋体";
        }
        .order_second{
            height: 5.68rem;
            width: 100%;
            padding: 0 0.5333rem;
            background-color: white;
            margin-bottom: 0.2667rem;
            .order_second_top{
                display: flex;
                justify-content: space-between;
                line-height: 2.72rem;
                height: 2.72rem;
                border-bottom: 0.0133rem solid #878787;
                .order_second_main{
                    width: 5.1333rem;
                    padding-top: 0.2667rem;
                    height: 2.7333rem;
                    h2{
                        line-height: 0.6667rem;
                        display: flex;
                        justify-content:space-between;
                      
                        font-size: 0.2933rem;
                        padding-right: 0.6667rem;    
                        i{
                            display: inline-block;
                            width: 0.5867rem;
                            margin-top: 0.1333rem;
                            height: 0.48rem;
                            background-color: #212121;
                            color: white;
                            line-height: 0.48rem;
                            font-size: 0.2133rem;
                        }

                    }
                    p{
                        display: flex;
                        text-align: left;
                        line-height: 0.5333rem;
                        font-size: 0.2933rem;
                        color: #979797;
                    }
                }
                i{
                    font-size: 0.7067rem;
                }
            }
            .order_second_bottom{
                height: 2.9333rem;
                padding-top: 0.5333rem;
                .order_second_miant{
                    height: 1.84rem;
                    display: flex;
                    justify-content: space-between;
                    background-color: #F8F8F8;
                    p{
                        align-self: center;
                    }
                    span{
                        align-self: center;
                    }
                    a{
                        align-self: center;
                        i{ 
                            font-size: 0.7067rem;
                        }
                    }
                }
            }
        }
      .order_three{
          height: 5.6267rem;
          background-color: white;
          padding-top: 0.8rem;
          padding: 0 0.5333rem;
          .order_mian{
              display: flex;
              height: 4.1333rem;
              padding-top: 0.4667rem;
              padding-bottom: 0.5333rem;
             
              border-bottom: 0.0133rem solid #D6D6D6;
              .order_mian_l{
                  width: 6.1333rem;
                  height: 100%;
                  overflow-y:hidden;
           
                  padding-top: 0.32rem;
                  
                    ul{
                        // width: 8rem;
                        display: flex;
                        
                        li{
                            width: 2.8rem;
                            position: relative;
                           
                            margin-right: 0.2667rem;
                            img{
                                width: 2.8rem;
                                height: 2.8rem;
                            }
                            span{
                                display: inline-block;
                                position: absolute;
                                bottom: 0;
                                height: 0.6667rem;
                                width: 100%;
    
                              background-color: rgba($color: #000000, $alpha: 0.5);
                                left: 0;
                                line-height: 0.6667rem;
                                color: white;
                            }
                        }
                    }
              }
              .order_mian_r{
                  width: 2.2667rem;
                  display: flex;
                  justify-content: space-between;
                  line-height: 3.12rem;
                  padding-left: 0.3733rem;
                  font-size: 0.3333rem;
                  height: 100%;
                 
                  i{
                    font-weight: bold;
                  }
                  a{
                      i{
                          font-size: 0.5333rem;
                          color: #6E6E6E;
                      }
                  }
              }
          }
          h2{
              line-height: 1.4667rem;
              display: flex;
              justify-content: space-between;
              font-size: 0.3333rem;
             
              span{
                  color: #969696;
                  i{
                   color:#1E1E1C;
                  }
              }
              
            
            
            }


      }
     
      .order_five{
        background-color: white;
        height: 6.2133rem;
        padding:0.5333rem 0.5333rem;
        
        h2{
            line-height: 1.4667rem;
            display: flex;
            justify-content: space-between;
            background-color: #F8F8F8;
            margin-bottom: 0.2667rem;
            font-size: 0.32rem;
            padding-left: 0.2667rem;
            span{
                i{
                    margin-left: 1.2667rem;
                    color: #8D8D8D;
                }
            }
            a{
                i{
                    font-size: 0.7067rem;
                }
            }
           
        }
      }
      .order_six{
          height: 3.6rem;
          font-family: "宋体";
          padding: 0 0.5333rem;
          background-color: white;
          margin-bottom: 0.9333rem;
            .order_six_top{
                height: 1.96rem;
                padding-top: 0.5333rem;
                border-bottom: 0.0133rem solid #EBEBEB;
                h3,h4{
                    display: flex;
                    color: #BFBFBF;
                    padding-left: 0.2667rem;
                    justify-content: space-between;
                    line-height: 0.76rem;
                    font-size: 0.32rem;
                }
                h4{
                    padding-left: 0.9333rem;
                }
            }
            h2{
                display: flex;
                align-items: baseline;
                justify-content: flex-end;
                line-height: 0.8533rem;
              
                font-size: 0.2933rem;
                margin-top: 0.4667rem;
                vertical-align: bottom;
               
                span{
                    font-size: 0.4667rem;
                }
            }
         }
    }
    .orders_footer{
        height: 1.3867rem;
        background-color: #232321;
        padding-left: 0.5333rem;
        display: flex;
        justify-content: space-between;

        .orders_footer_l{
            color: white;
            font-family: "KaiTi";
            height: 100%;
            h2{
                line-height: 0.8rem;
                font-size: 0.4667rem;    
            }
            h5{
                line-height: 0.6rem;
                font-size: 0.3333rem;
                margin: 0;
            }
        }
        a{
            display: inline-block;
            width: 2.6667rem;
            line-height:  1.3867rem;
            height: 100%;
            text-align: center;
            font-size: 0.3733rem;
            color: #232321;
            background-color: #C0A369;
        }
    }
    h1{
        font-family: "SimHei";
        line-height: 0.96rem;
        background-color: rgba($color: #000000, $alpha: 0.5);
        z-index: 555;
        padding-left: 0.5333rem;
        color: white;
        font-size: 0.3333rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow:ellipsis;
        i{
            font-size: 0.5333rem;
        }
    }
    .overlay{
        position: fixed;
        top: 0;
        z-index:1000;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.5);
        i{
            display: inline-block;
            font-size: 0.9333rem;
            position: absolute;
            right: 0.4rem;
            top: 0.4rem;
            font-weight: bold;
            color: white;
        }
        .del_tip{
        
            position: absolute;
            top: 40%;
            bottom: 0;
            width: 6.666667rem;
            height: 3.333333rem;
            left: 50%;
            margin-left: -3.333333rem;
            text-align: center;
            border-radius: .21333rem;
            background-color: #fff;
            .tip{
                height: 2.0rem;
                line-height: 2.0rem;
                font-size:0.373333rem;
            }
            .select{
                border-top:0.013333rem solid #ccc;
                width: 100%;
                height: 1.333333rem;
                display:flex;
                align-items:center;
                .cancel{
                    border-right:0.013333rem solid #ccc;
                }
                span{
                    display: block;
                    flex:1;
                    font-size:0.373333rem;
                }
            }
        }
        
#slide-wrapper{
    width: 6.6667rem;
    height: 3.333333rem;
    top: 40%;
    position: relative;
    padding-top: 10%;
    border-radius: .21333rem;
   
    margin: 0 auto;
    #slider{
        height: 1.6rem;
        width: 100%;
        line-height: 1.6rem;
        font-size: 0.6rem;
        position: relative;
        border-radius: .21333rem;
        background-color: #FDEB9C;
        overflow: hidden;
        text-align: center;
    
        #label{
            width: 0.8rem;
            border-radius: .21333rem;
            
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            background: #E67E22;
            z-index: 999;
            cursor: pointer;
        }
        #labelTip{
            z-index: 9;
        }
    }
    #slider.success{
        background-color: #E5EE9F;
    }    
}

@media screen and (max-width: 8.5333rem) {
    #slide-wrapper{
        width: 64%;
    }
}


// 少时诵诗书所所是是是是是是是撒

        
        
    }



}