#account{
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #F4F1F1;
    width: 100%;
    a{
        text-decoration: none;
    }
    .account_top{
        display: flex;
        justify-content: space-between;
        height: 1.4667rem;
        background-color: white;
        padding: 0 0.2rem;
        font-size: 0.5067rem;
        line-height: 1.4667rem;
        width: 100%;
        border-bottom: 0.0133rem solid #D6D6D6;
        a{
            display: inline-block;
            text-decoration: none;
            color: #646464;
            width: 0.6667rem;
            i{
                font-size: 0.5333rem;
            }
        }
    }
    .account_second{
        height: 2.4rem;
        position: relative;
        background-color: white;
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding:0.2667rem 0.5333rem 0.4rem 0.5333rem;
        img{
            width: 1.56rem;
            border-radius: 50%;
        }
        i{
            display: inline-block;
            margin-top: 0.6667rem;
            font-size: 0.4667rem;
            color: #646464;
        }
        span{
            position: absolute;
            top: 0.8rem;
            font-size: 0.453333rem;
            left: 2.5333rem;
        }
    }
    .account_mian{
        height: 10.8rem;
        width: 100%;
        margin-top: 0.2667rem;
        background-color: white;
        ul{
            width: 100%;
            padding: 0 0.5333rem;
            li{
                display: flex;
                justify-content: space-between;
                height: 1.5333rem;
                line-height: 1.5333rem;
                font-size: 0.4rem;
               
                border-bottom: 0.0133rem solid #D7D7D7;
                a{
                    color: #646464; 
                    display: inline-block;
                    width: 0.8rem;
                    text-align: right;
                    i{
                        font-size: 0.4667rem;
                    }
                }
            }
            li:last-child{
                border-bottom:0 none;
            }
        }
    }
    .login_outbtn{
        
        position: absolute;
        width: 100%;
        line-height: 1.4rem;
        color: white;
        bottom: 0;
        height: 1.4rem;
        background-color: #232321;
        font-size: 0.4rem;
        text-decoration: none;
        text-align: center;
    }

    //删除
    .overlay{
        position: fixed;
        top: 0;
        z-index:1000;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.5);
        .del_tip{
            position: absolute;
            top: 40%;
            bottom: 0;
            width: 6.666667rem;
            height: 3.333333rem;
            left: 50%;
            margin-left: -3.333333rem;
            text-align: center;
            border-radius: .21333rem;
            background-color: #fff;
            .tip{
                height: 2.0rem;
                line-height: 2.0rem;
                font-size:0.373333rem;
            }
            .select{
                border-top:0.013333rem solid #ccc;
                width: 100%;
                height: 1.333333rem;
                display:flex;
                align-items:center;
                .cancel{
                    border-right:0.013333rem solid #ccc;
                }
                span{
                    display: block;
                    flex:1;
                    font-size:0.373333rem;
                }
            }
        }
    }

}