/*重置样式表*/


/*==========样式重置===========*/

body,
h1,
h2,
h3,
h4,
p,
a,
input,
img,
ul,
li,
ol,
dl,
dt,
dd {
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style: none;
}

img {
    display: block;
    border: 0;
}

input {
    /*去掉高亮*/
    outline: none;
}

header,
footer,
section,
main,
nav {
    display: block;
}

body {
    font-size: 0.32rem;
    font-family: "微软雅黑";
    color: #3e3e3e;
}

a {
    text-decoration: none;
    color: #c3c3c3;
}

html,body{width: 100%;height: 100%;}

.animate-enter{opacity:0.3;}
.animate-enter-active{transition:all 1s;}
.animate-leave-acitve{opacity:0.3;transition:all 1s;}


/*初始状态*/
.faded-enter{opacity: 0;transform:translateX(100%);}
/*已经准备就绪*/
.faded-enter-active{transition: all .8s;}
/*已经消失*/
.faded-leave-active{opacity: 0; transform:translateX(100%); transition: all .8s;}