#appMain{
    height: 100%;
    display:flex;
    flex-direction:column;
    overflow:hidden;
    .appMain_main{flex:1;overflow-x:hidden;}
    .appMain_footer{
        height: 1.333333rem;
        background: rgba(0,0,0,.8);
        display:flex;
        a{
            color:#676767;
            flex:1;
            .tab{
                height: 100%;
                width: 100%;
                display:flex;
                flex-direction:column;
                text-align:center;
                .icon{
                    flex:1;
                    img{
                        vertical-align:middle;
                        width:0.533333rem;
                        margin:0 auto;
                        height: 90%;
                        display:inline-block;
                    }
                }
                .icon::before{
                    content:"";
                    display:inline-block;
                    height: 100%;
                    width: 0;
                    vertical-align:middle;
                }
                span{
                    font-size:0.346667rem;
                    flex:1;
                    vertical-align:middle;
                }
                span::before{
                    content:"";
                    display:inline-block;
                    height: 100%;
                    width: 0;
                    vertical-align:middle;
                }
                .active{color:#c0a369;}            
            }
        }
    }
}