#classroomshow{
    height: 100%;
    overflow:hidden;
    display:flex;
    flex-direction:column;
    .showHeader{
        height: 1.333333rem;
        width: 100%;
        display:flex;
        justify-content:space-between;
        .btn{
            width: 10%;
            text-align:center;
            img{
                display:inline-block;
                width: 0.32rem;
                height: 0.64rem;
                vertical-align:middle;
            }
        }
        .btn::after{
            content:"";
            display:inline-block;
            height: 100%;
            vertical-align:middle;
        }
        .title{
            width: 50%;
            text-align:center;
            vertical-align:middle;
            color: #212121;
            font-size: 0.426667rem;
        }
        .title::after{
            content:"";
            display:inline-block;
            height: 100%;
            vertical-align:middle;   
        }
    }
    .showMain{
        flex:1;
        overflow-x:hidden;
        width: 100%;
        img{width: 100%;}
    }
}