#add_address{
    height: 100%;
    display: flex;
    flex: 1;

    flex-direction: column;
    background-color: #F4F1F1;
    width: 100%;
    a{
        text-decoration: none;
    }
    .add_address_top{
        display: flex;
        justify-content: space-between;
        height: 1.4667rem;
        background-color: white;
        padding: 0 0.2rem;
        font-size: 0.5067rem;
        line-height: 1.4667rem;
        width: 100%;
        border-bottom: 0.0133rem solid #D6D6D6;
        a{
            display: inline-block;
            text-decoration: none;
            color: #646464;
            width: 0.6667rem;
            i{
                font-size: 0.5333rem;
            }
        }
    }
    .add_address_second{
        height: 7.7067rem;
        background-color: white;
        padding-left: 0.5333rem;
        padding-right: 0.7333rem;
        ul{
            height: 100%;
            width: 100%;
            display: flex;
            justify-content:space-between;
            flex-direction: column;
            li{
                height: 1.5333rem;
                display: flex;
                position: relative;
                justify-content: space-between;
                line-height: 1.5333rem;
                width: 100%;
                border-bottom: 0.0133rem solid #EBEBEB;
                label{
                    margin-right: 0.4rem;
                    font-size: 0.3333rem;
                    color: #040402;
                }
                input{
                    align-self:center;
                    height: 1.2rem;
                    border:none;
                    width: 6.4rem;
                    font-size: 0.3733rem;
                   background-color: white;
                   color: black;
                }
                i{
                    display: inline-block;
                    height: 100%;
                    font-size: 0.5333rem;
                }
                .icon-gouxuan1,.icon-shanchu1{
                    position: absolute;
                    right: -0.6rem;
                    font-size: 0.5333rem;
                    
                }
                .icon-gouxuan1{
                    color: green;
                }
                .icon-shanchu1{
                    color: red;
                }
               
                
                
            }
        }
    }
    .add_address_three{
        align-self: center;
        margin-top: 0.8rem;
        line-height: 1.6rem;
        text-align: center;
        width: 8.8667rem;
        height: 1.6rem;
        background-color: #232321;
        span{
            display: inline-block;
            width: 100%;
            height: 100%;
            color: white;
        }

       
    }
    .add_address_four{
          .showChose{
            width:100%;
            height:100%;
            position:fixed;
            top:0;
            left:0;
            z-index:120;
            background:rgba(77,82,113,0.8);
          }
          .address{
            position:absolute;
            bottom:0;
            left:0;
            z-index:121;
            background:#fff;
    
            width:100%;
          }

          .title{
            h4{
                color: black;
                display: flex;
                justify-content: space-between;
                font-size:0.45rem;
                line-height:1.0667rem;
                padding: 0 0.6667rem;
              
                span{
                    margin:0.42rem 0 0 2.2rem;
                   
                    line-height:0.34rem;
                    color: black;
                    i{
                        font-size: 0.5333rem
                    }
                  }
               
              }
            
          }
        
       
          .area{
            display:inline-block;
            font-size:0.3733rem;
            line-height:1.0667rem;
            margin-left:0.42rem;
            color:#333;
          }
          .addList{
            width:100%;
            padding-left:0.32rem;
            font-size:0.3733rem;
            line-height:1.0667rem;
            color:#333;
          }
          /* 修改的格式 */
          .address ul{
            width:95%;
            height: 6rem;
            overflow:auto;
          }
          .address ul li{
            margin-left:5%;
          }
          .address .title .active{
            color:#0071B8;
            border-bottom:0.02rem solid #0071B8;
          }
          .address ul .active{
            color:#0071B8;
          }
    }


}

//横向
.animate-route{
    animation-duration: .8s;
    animation-fill-mode: both;
    animation-name: fadeRoute;
  }
  
  @keyframes fadeRoute {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

